@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*,
::after,
::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}
:root {
  --bg: rgba(243, 176, 88, 0.973);
  --bg-body: #101820FF;
  --text-color : #1F2937; 
}
::placeholder{
  color:black;
  opacity: 1;
}
body {
  background : var(--bg-body);
  background-size: cover ;
  font-family: 'Indie Flower', cursive;
  min-height: 100%;
  position:relative;
}
.heading{
  font-size:50px;
  color:white;
  text-align: center;
}

#footer{
  bottom:-100px;
  margin:0.33px;
  border : 5px solid black;
  background-color: var(--bg);  
  position: relative;   
  width:100%;

}

footer p{
  color: white;
  max-width: 65%;
  margin:auto;
  text-align: center;
  font-weight: bold;
  margin-bottom:1rem;
  font-size:20px;
  text-shadow: 2px 2px 0px gray;
}
.button1 {
  background-color: var(--text-color); 
  color: white; 
  display: block;
  margin:10px auto;
  width:100px;
  height:50px;
  border-radius: 30%;
  box-shadow: 0px 10px 10px -2px rgba(0,0,0,.25);
  font-weight: bold;
  font-size: 15px;
}
.button1:hover {
  background-color:var(--text-color);
  width:150px;
  transition-duration:0.3s;
  color: var(--bg);
  font-weight: bold;
  font-size: 15px;
  border: 1px solid black;
}
.center-container{
  width: 50%;
  display: block;
  height: 10vh;
  margin: auto;
  padding: 1rem;
  border: 2px solid black;
  background-color:var(--bg);
  background-position: center;
}

body #output-text{
  margin-left:25%;
  font-weight: bold;
  color:white;
  }
.padding{
  margin-top: 40px;
}